.message-block__window-message {
    padding: 10px 10px 25px 10px;
    max-width: 250px;
    margin-bottom: 15px;
    border-radius: 6px;
    color: #ecf0f1;
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    line-height: 1.30;
    position: relative;
}

.my-message {
    background-color: #2ecc71;
    margin-left: auto;
}

.his-message {
    background-color: #3498db;
}

.message-block__message-date {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #dfe4ea;
}
